###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.docker
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> spiriitlabs/developer-tools ###
/database_data/
./database_data
./database_data/*
/uploads/line-attachments/
/.idea/
.phpactor.json
.DS_Store
# Ignore pnpm store
.pnpm-store
.todo
###< spiriitlabs/developer-tools ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> spiriitlabs/sandbox ###
src/Cli/SandboxCommand.php
private/uploads/*
###< spiriitlabs/sandbox ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> pentatrion/vite-bundle ###
/node_modules/
/public/app/
public/app/*
###< pentatrion/vite-bundle ###

###> spiriitlabs/jira-service-desk ###
assets/images/logo/custom/*
###< spiriitlabs/jira-service-desk ###

###> deployer/deployer ###
/deployer/vendor/
/deployer/bin/
/deployer/composer.lock
###< deployer/deployer ###

###> ci-cache ###
/.composer-cache/
/.yarn-cache/
###< ci-cache ###
